Source: evolvotron
Section: graphics
Priority: optional
Maintainer: Tim Day <timday@bottlenose.demon.co.uk>
Build-Depends: debhelper (>= 4.0.0),python (>= 2.1),qt3-dev-tools (>=3)
Standards-Version: 3.6.0

Package: evolvotron
Architecture: any
Depends: ${shlibs:Depends}
Description: interactive evolutionary generative art
 evolvotron is interactive "generative art" software to evolve
 images/textures/patterns through an iterative process of random
 mutation and user-selection driven evolution.
 Basically it displays a grid of random images; you click
 on one you like and the rest of the grid is refilled with
 variants of the one you picked.

